[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
coverage = "*"

[packages]
flask = "*"
gunicorn = "*"
paramiko = "==2.7.2"
chuck_pyutils = {git = "https://github.com/ChuckWoodraska/ChuckPyUtils.git",editable = true}
tinydb = "*"
witnessme = "*"

[requires]
python_version = "3.9"
